html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, ul, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

a:hover{
    color: #DD9D5E;
}

h1 {
    font-size: 40px;
    color: #DD9D5E;
    font-weight: 100;
    margin-bottom: 30px;
    text-shadow: 0px 0px 80px #DD9D5E;
    text-align: center;
}

button {
    height: 40px;
    width: 150px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

.index_copyToClipboardMessage {
    position: fixed;
    bottom: 25px;
    right: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 70px;
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 16px #DD9D5E;
    transition: 0.5s;
}

.index_buttonbis {
    background-color: #DD9D5E !important;
}

.index_buttonbis:hover {
    border: solid 1px #1c1c1c !important;
    background-color: #1c1c1c !important;
    color: white !important;
}

button:hover {
    transform: scale(1.05);
}

.index_buttonAnimColor:hover {
    border: solid #DD9D5E 1px;
    background-color: #DD9D5E;
}

.coloryellow{
    color: #DD9D5E;
}

.index_nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
    z-index: 5;
    height: 60px;
    width: calc(100% - 80px);
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid #DD9D5E;
    box-shadow: 0px 0px 32px #DD9D5E;
    color: white;
    font-size: 20px;
    padding: 0 40px;
    overflow-x: auto;
}

.index_wizarditnav{
    height: 40px;
}

/* Section 1 */
.index_section1{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background: linear-gradient(180deg, #1c1c1c, #252525);
}

.index_wizardit {
    width: 250px;
    margin: 60px 0 20px 0;
}

.index_intro {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.index_intro p {
    font-size: 20px;
}

.index_npm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid #DD9D5E 1px;
    box-shadow: 0px 0px 16px #DD9D5E;
    animation: npmAnimation 4s infinite;
}

.index_npm p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.index_npm div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.index_copyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;
    background-color: #DD9D5E;
    border: initial;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
    transition: initial;
}

.index_copyButton:hover{
    transform: initial;
}

.index_copyButton img {
    height: 80%;
}

@keyframes npmAnimation {
    0% {box-shadow: 0px 0px 4px #DD9D5E;}
    40% {box-shadow: 0px 0px 16px #DD9D5E;}
    60% {box-shadow: 0px 0px 16px #DD9D5E;}
    100% {box-shadow: 0px 0px 4px #DD9D5E;}
}

.index_documentation{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

/* Section2 */
.index_section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: #DD9D5E;
}

.index_section2_h2 {
    font-size: 36px;
    color: #1c1c1c;
    font-weight: 100;
    margin: 30px 0;
}

.index_cliwizard{
    width: 90%;
}

.index_containerInfo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    margin-top: 60px;
    column-gap: 80px;
    margin-bottom: 60px;
}

.index_containerInfo1subDiv:first-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.index_containerInfo1subDiv:last-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

.index_containerInfo1subDiv:last-child p{
    max-width: 550px;
    font-size: 16px;
}

/* Section 3 */
.index_section3{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: #252525;
}

.index_section3_h2 {
    font-size: 36px;
    color: #DD9D5E;
    font-weight: 100;
    margin: 30px 0;
}

.index_containerInfo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    margin-top: 60px;
    column-gap: 80px;
    margin-bottom: 60px;
}

.index_containerInfo2subDiv:first-child{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

.index_containerInfo1subDiv:first-child p{
    max-width: 550px;
    font-size: 16px;
    color: white;
}

.index_containerInfo2subDiv:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.index_backoffice{
    width: 90%;
}

/* Section 4 */
.index_section4{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: white;
}

/* Responsive */

@media screen and (max-width: 900px) {
    .index_nav {
        font-size: 14px;
        padding: 0 10px;
        width: calc(100% - 20px);
    }

    .index_section2_h2 {
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 32px;
    }

    .index_containerInfo1{
        flex-direction: column;
    }

    .index_containerInfo1subDiv:first-child {
        justify-content: center;
        width: 75%;
        margin-bottom: 30px;
    }

    .index_containerInfo1subDiv:last-child {
        justify-content: center;
        width: 90%;
    }

    /* 2 */
    .index_section3_h2 {
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 32px;
    }

    .index_containerInfo2{
        flex-direction: column;
    }

    .index_containerInfo2subDiv:first-child {
        justify-content: center;
        width: 75%;
        margin-bottom: 30px;
        order: 1;
    }

    .orderdiv{
        order: 1;
    }

    .index_containerInfo2subDiv:last-child {
        justify-content: center;
        width: 90%;
        margin-bottom: 30px;
        order: 0;
    }
}
